html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Rouge Script', cursive;
}

hr {
  max-width: 50px;
  border-color: #f05f40;
  border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.section-header{
  font-family: 'Open Sans', cursive;
  text-align: center;
  display: inherit;
  font-size: 400%;
}

.person-name{
  text-align: center;
  font-size: 400%;
  font-family: 'Rouge Script', cursive;
  margin-left:50px;
}

.history-name{
  text-align: center;
  font-size: 500% !important;
  font-family: 'Rouge Script', cursive;
}

.person-description{
  color:#333;
  font-size: 17px;
  line-height: 34px;
  font-family: Georgia,Merriweather,"Times New Roman",Times,serif;
  display: inherit;
  margin-left:50px;
  margin-right: 25px;
}

.img-circle {
  border-radius: 50%;
  float: left;
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-right: 25px;
}

.img-circle-family {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-square {
  padding: 0;
   -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -html-border-radius: 8px;  
  border-radius: 8px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    overflow-x:hidden;
}

.navbar-default .navbar-header .navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: white!important;
    background-color: #f05f40;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    color: white!important;
    background-color: #f05f40;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgb(255,255,255);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgb(255,255,255);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

.navbar-nav>li>a:last{
  padding-right: 0 !important;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  color: #fff;
  background-image: url(../img/background.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header:after{
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0; 
  background: rgba(0,0,0,0.1);
  pointer-events: none;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;

}

.header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

.header-content .header-content-inner hr {
    margin: 30px auto;
}

.header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255,255,255);
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}
body {
    webkit-tap-highlight-color: #222;
}

.header-text{
  font-size: 1200%;
  text-align: center;
  display: inherit;
}

.header-subtext{
  font-size: 400%;
  text-align: center;
  display: inherit;
}

section {
  margin-top: 150px;
  margin-bottom: 150px;
}